*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.first{
    width: 112.5vw;
}
.second{
    display: inline-block;
    position: relative;
}
.one{
    position: absolute;
    top: 50px;
    left: 160px;
}
.circle{
    color: rgb(247, 174, 174);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-weight: 520;
}
.base{
    color: hsl(0, 6%, 24%);
    position: absolute;
    top: 0px;
    left: 32px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 4px;
}
.apparel{
    color: hsl(0, 6%, 24%);
    position: absolute;
    top: 16px;
    left: 32px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 4px;
}
.were{
    color: hsl(0, 36%, 70%);
    position: absolute;
    top: 162px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 10px;
}
.coming{
    color: hsl(0, 6%, 24%);
    position: absolute;
    top: 232px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 10px;
}
.soon{
    color: hsl(0, 6%, 24%);
    position: absolute;
    top: 302px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 10px;
}
.hello{
    color: hsl(0, 36%, 70%);
    width: 438px;
    position: absolute;
    top: 410px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}
textarea{
    border: 2px solid hsl(0, 80%, 86%);
    border-radius: 32px;
    position: absolute;
    top: 520px;
    padding: 18px 0px 2px 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
}
::placeholder{
    color: hsl(0, 36%, 70%);
}
input{
    color: aliceblue;
    background: linear-gradient(to left, hsl(0,93%,68%)40%,hsl(0,74%,74%));
    border: 2px solid hsl(0,93%,68%);
    width: 100px;
    height: 52px;
    border-radius: 32px;
    position: absolute;
    top: 520px;
    left: 360px;
    font-size: 28px;
}
.third{
    display: inline-block;
    float: right;
}
@media screen and (min-width:1440px){
    .first{
        width: 100vw;
    }
    .second{
        display: inline-block;
        position: relative;
    }
    .one{
        position: absolute;
        top: 50px;
        left: 160px;
    }
    .circle{
        color: rgb(247, 174, 174);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 36px;
        font-weight: 520;
    }
    .base{
        color: hsl(0, 6%, 24%);
        position: absolute;
        top: 0px;
        left: 32px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 4px;
    }
    .apparel{
        color: hsl(0, 6%, 24%);
        position: absolute;
        top: 16px;
        left: 32px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 4px;
    }
    .were{
        color: hsl(0, 36%, 70%);
        position: absolute;
        top: 162px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 70px;
        font-weight: 500;
        letter-spacing: 10px;
    }
    .coming{
        color: hsl(0, 6%, 24%);
        position: absolute;
        top: 232px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 70px;
        font-weight: 600;
        letter-spacing: 10px;
    }
    .soon{
        color: hsl(0, 6%, 24%);
        position: absolute;
        top: 302px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 70px;
        font-weight: 600;
        letter-spacing: 10px;
    }
    .hello{
        color: hsl(0, 36%, 70%);
        width: 438px;
        position: absolute;
        top: 410px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
    }
    textarea{
        border: 2px solid hsl(0, 80%, 86%);
        border-radius: 32px;
        position: absolute;
        top: 520px;
        padding: 18px 0px 2px 18px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
    }
    ::placeholder{
        color: hsl(0, 36%, 70%);
    }
    input{
        color: aliceblue;
        background: linear-gradient(to left, hsl(0,93%,68%)40%,hsl(0,74%,74%));
        border: 2px solid hsl(0,93%,68%);
        border-radius: 32px;
        width: 100px;
        height: 52px;
        font-size: 28px;
        position: absolute;
        top: 520px;
        left: 360px;
    }
    .third{
        display: inline-block;
        float: right;
    }
}